body{
  margin:auto;
  max-width: : 50%;
  color: #F0F0F0; /*white*/
  background-color: #101010; /*black*/
  font-size:20px
}
h1{
  text-align: center;
  font-size: 6vw;
  margin-top: 10px;
  margin-bottom: 10px;

}
h2{
  font-size: 2em;
}
h1, h2 {
  font-family: "Helvetica",sans-serif;
}

ul.navbar{
  padding:10px;
  float:left;
  list-style-type: none;
  margin-bottom:10px;
}

.navbar{
  text-align:center;
  float:left;
  padding-left: 10px;
  margin-bottom: :10px;
}

ul.left{

  list-style-type: none;
  float:right;
  padding: 10px;
  padding-top: 10px;

}

li{
  text-align: left;
}
.Content{
  padding-top: 3.5em;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Images{
  /*width:"95%";*/
  max-width: "3000%";
}
